.A{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(4, 93, 17);
    height: 300px;
    width: 500px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}
.B{
    background-color: red;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: 130px;
}
div>p{
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px;
    text-align: center;
}